.wrapper {
  width: 100%;
  background-color: var(--color-gray-background);
  border-bottom: 1px solid var(--color-gray-lighter);
}

.wrapperWide {
  width: 100%;
  background-color: var(--color-gray-background);
  border-bottom: 1px solid var(--color-gray-lighter);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-24) 48px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.navbarWide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-24) 48px;
  width: 100%;
}

.logo {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: var(--color-secondary-dark);
}

.logoHalf {
  color: var(--color-primary-dark);
}

.navLinks {
  display: flex;
  gap: var(--spacing-48);
  list-style: none;
  justify-content: center;
  flex: 1;
}

.navLink {
  text-decoration: none;
  font-size: var(--font-size-base);
  color: var(--color-primary-dark);
  font-weight: var(--font-weight-medium);
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--color-red-dark);
}

.active {
  color: var(--color-accent-red);
}
