.catalog {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-48);
  padding: var(--spacing-48) 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.filter {
  flex: 0.3;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  align-self: center;
  border: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-16) 32px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.loadMore:hover {
  border-color: var(--color-red-dark);
}
